.login__wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #673ab7;

  .mat-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 440px;

    .login__title {
      width: fit-content;
      margin-bottom: 20px;
    }

    .login__form {
      width: 100%;

      .mat-form-field {
        width: 100%;
      }

      .login__btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      .account-exists__hint {
        margin-top: 10px;
        display: block;
        text-align: center;
      }
    }
  }
}
