<div class="register__wrapper">
  <mat-card>
    <mat-card-title class="register__title">Register New User</mat-card-title>
    <form
      class="register__form"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Email"
          formControlName="email"
          errorState="true"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Password"
          formControlName="password"
          type="password"
        />
      </mat-form-field>
      <button class="register__btn" mat-raised-button color="primary">
        Register
      </button>
      <span class="account-exists__hint">
        <a routerLink="/login">Already have an account?</a>
      </span>
    </form>
  </mat-card>
</div>
